@import "tailwindcss";


@theme {
  --breakpoint-xs: 30rem;
}

:root {
  font-family: var(--font-Outfit-sans), sans-serif;
  --color-primary:#5044e5;
}
body {
  font-family: var(--font-Outfit-sans), sans-serif;
}
/* Hide scrollbar for Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
